[proxy_server]
port = 8025

[api_server]
port = 8027


#Deprecated,use @mcp_server_configs instead
[mcp_server_commands]
puppeteer = "npx -y @modelcontextprotocol/server-puppeteer"
fetch = "uvx mcp-server-fetch"
time = "docker run -i --rm mcp/time"

[mcp_server_configs]
puppeteer = { cmd="npx -y @modelcontextprotocol/server-puppeteer",share_process=true}
fetch = {cmd="uvx mcp-server-fetch",share_process=true}
time = {cmd="docker run -i --rm mcp/time",share_process=true}

[remote_apis]
get_server_command = "https://mcp.so/api/get-server-command"
